body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
}

.form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

label {
    margin-right: 10px;
    flex: 1; /* Equal width for labels */
    display: flex;
    align-items: center; /* Center align labels vertically */
}

select,
input[type="date"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 2; /* Twice the width of labels */
    margin-right: 10px; /* Add some space between input fields */
}



.generateButton {
    flex: 1; /* Equal width for button */
    margin-top: 10px; /* Add some space between button and input fields */
    background-color: #0066ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generateButton:hover {
    background-color: #0056b3;
}
/* 
#chartContainer {
    margin-top: 20px;
} */
